{% extends "base.html" %}

{% load static %}

{% block title %}about{% endblock title %}

<!-- Page Content -->
  {% block content %}
         
  </div>
      <div class="page-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>About Us</h1>
              <span>We have over 20 years of experience</span>
            </div>
          </div>
        </div>
      </div>

      <div class="more-info about-info">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="more-info-content">
                <div class="row">
                  <div class="col-md-6 align-self-center">
                    <div class="right-content">
                      <span>CDQLINK Investment Company limited</span>
                      <h2>Get to know about <em>our company</em></h2>
                      <p> CDQLINK Investment Company limited Is a limited company registered under company acts of 2002, Its one among the major private company in Tanzania which provide Real Estate, Non Real Estate Services and brokers services in three Region in Tanzania Arusha, 
                        Dar Es Salaam and Dodoma 
                        and is still expanding to other Regions.
                                                                </p>
                           <p>The company operate under the principle of transparent 
                             in providing quality,
                              affordable and reliable service with much concentration 
                              in customer satisfaction.
                           </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="left-image">
                      <img src="{% static './images/random/about-image.jpg' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="team">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Our team <em>members</em></h2>
                <span>Suspendisse a ante in neque iaculis lacinia</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-item">
                <img src="{% static './images/random/team_01.jpg' %}" alt="">
                <div class="down-content">
                  <h4> BETSON BEBWA</h4>
                  <span>Head of Project</span>
                  <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-item">
                <img src="{% static './images/random/team_02.jpg' %}" alt="">
                <div class="down-content">
                  <h4>HAPPINESS SIAME</h4>
                  <span>Head of Operations</span>
                  <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-item">
                <img src="{% static './images/random/team_02.jpg' %}" alt="">
                <div class="down-content">
                  <h4>JULIANA KINDOLE</h4>
                  <span>Head of Marketing</span>
                  <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    


    
  {% endblock content %}


    