{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Real Estate-Farms</h1>
              <span>We are over 20 years of experience</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
        {% for fm in farm  %}
        <div class="container real_tabs_2">
        {% if fm.image %}
        <img class="real_tab2_img" src="{{fm.image.url}}"  alt="">
        {% else %}
        <img class="real_tab2_img" src="{% static './images/random/single_service_02.jpg' %}"  alt="">
        {% endif %}

        <h4>{{fm.title}}</h4>
        <p>{{fm.descption}}</p>
        <p>{{fm.date}}</p>
        </div> 
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
